@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Prompt&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #414141;
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
nav {
  background-color: #252525;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.bungkus_navigasi {
  background-color: #252525;
  padding: 3em;
}

.bungkus_navigasi ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.bungkus_navigasi li {
  margin-right: 3em;
}

.logo {
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 600;
  margin-right: 35em;
  transition: 0.5s;
}

#lipat1 {
  transition: 0.5s;
}

#lipat2 {
  transition: 0.5s;
}

#lipat3 {
  transition: 0.5s;
}

.toggle {
  display: none;
  font-size: 15px;
  padding: 50px;
  border-radius: 5px;
  text-align: justify;
  color: rgb(249, 246, 238);
  background-color: #7f8487;
}

.toggle h4 {
  font-weight: 300;
}

.projek {
  display: none;
  padding: 50px;
  border-radius: 5px;
  text-align: center;
  color: rgb(249, 246, 238);
  background-color: #7f8487;
}

.projek ul {
  list-style: none;
}

.projek ul li {
  padding: 10px;
}

.projek a {
  transition: 0.5s;
}

.projek a:hover {
  color: #414141;
}

.kontak_saya {
  display: none;
  padding: 50px;
  border-radius: 5px;
  text-align: center;
  color: rgb(249, 246, 238);
  background-color: #7f8487;
}

.kontak_saya a {
  font-size: 40px;
  padding: 10px;
  transition: 0.5s;
}

.wa:hover {
  color: #25d366;
}

.ig:hover {
  color: #833ab4;
}

a {
  color: rgb(249, 246, 238);
  text-decoration: none;
}

a:hover {
  color: #999696;
}

/* BODY */
img {
  overflow: auto;
  margin: 2em;
  margin-top: 6em;
  width: 100%;
  border-radius: 50%;
  box-shadow: -10px 10px rgb(249, 246, 238);
  transition: 0.5s;
}

.bungkus_bio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gambar {
  width: 30%;
}

img:hover {
  transform: scale(1.04);
}

.bungkus_kata {
  cursor: default;
  padding: 2em;
  color: rgb(249, 246, 238);
}

.h1_awal {
  transition: 0.5s;
}

.bungkus_kata h1:hover {
  transform: scale(1.03);
}

.h4_awal {
  font-weight: 300;
  transition: 0.5s;
}

.bungkus_kata h4:hover {
  transform: scale(1.03);
}

.h4_kedua {
  font-weight: 300;
  transition: 0.5s;
}

/* Footer */
footer {
  background-color: #252525;
  color: rgb(249, 246, 238);
  text-align: center;
  width: 100%;
  padding: 2em;
}

/* RESPONSIVE */

/* Ukuran tablet */
@media screen and (max-width: 768px) {
  .bungkus_navigasi {
    padding: 3em;
  }
  .bungkus_navigasi ul {
    justify-content: start;
  }
  #lipat1{
    margin-left: 9em;
  }
  .logo {
    margin-right: 2em;
  }
  .bungkus_bio {
    height: 80vh;
    margin-bottom: 8em;
    display: flex;
    flex-direction: column;
  }
  .bungkus_bio .bungkus_kata {
    width: 100%;
  }
  .gambar{
    margin-right: 2em;
    width: 60%;
  }
  footer {
    width: 100%;
    padding: 2em;
  }
}

/* Ukuran Mobile */

@media screen and (max-width: 576px) {
  .logo {
    display: none;
  }
  #lipat1{
    margin-left: -30px;
  }
  .h1_awal{
    font-size: 30px;
  }
}

@media screen and (max-width: 414px) {
  #lipat1{
    margin-left: -26px;
  }
}

@media screen and (max-width: 390px) {
  #lipat1{
    margin-left: -30px;
  }
}

@media screen and (max-width: 375px) {
  #lipat1{
    margin-left: -35px;
  }
}

@media screen and (max-width: 360px) {
  #lipat1{
    margin-left: -50px;
  }
  .h1_awal{
    font-size: 25px;
  }
}
